@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 10px */
    scroll-behavior: smooth;
    scroll-padding: 7.2rem;
}

@media screen and (max-width: 80em) {
    html {
        font-size: 56.25%; /* 9px */
    }
}

@media screen and (max-width: 30em) {
    html {
        font-size: 50%; /* 8px */
    }
}

body {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}